@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3f4441;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fbfbfb;
}

/* styling in header */
h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

form input:not([type="submit"]) {
    width: clamp(15vw, 20vw, 25vw);
    margin-right: 6px;
    background-color: #797c7a;
    color: #fbfbfb;
    box-shadow: none;
}

::placeholder {
    color: #c5c7c6;
}

#new-task-submit {
    background-color: #fbfbfb;
    font-weight: bold;
}

#new-task-submit:hover {
    background-color: #00C853;          
    color: #fbfbfb;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

form input {
    font-size: 20px;
    padding: 5px;
    height: 5vh;
    border-radius: 6px;
}

/* styling in main */
.edit-button:hover {
    background-color: #F9A825;
    color: #fbfbfb;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FF3D00;
    color: #fbfbfb;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    background-color: #555755;
    margin-top: 5vh;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item input[type="checkbox"] {
    margin-right: 1rem;
}

.item input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: #fbfbfb;
    font-size: 20px;
    flex: 1 1 0%;
    margin-right: 1rem;
}

.item.completed input[type="text"] {
    opacity: 0.5;
    text-decoration: line-through;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #fbfbfb;
}

#todo-list {
    width: 100%;
    max-width: 700px;
}

main {
    display: flex;
    justify-content: center;
/* min-height: 100vh */
}